body {
    background: #151926;
}

.container_head {

    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.container_product {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 90px;
    height: 70px;
}

.cash {
    width: 90px;
    height: 70px;
}

.potato {
    width: 90px;
    height: 70px;
}

.container_payment {
    background-color: #D9D9D9;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
    border-radius: 25px;

}

.point {
    width: 150px;
    height: 150px;
}

.yourself {
    width: 150px;
    height: 150px;
}

.delivery {
    background-color: #D9D9D9;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
    border-radius: 25px;

}

.delivery__method {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.text {
    font-size: 25px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
}

.kettle {
    width: 150px;
    height: 150px;

}

.total_product {
    width: fit-content;
}

.button {
    background-color: #FCE000;
    width: 25%;
    height: 100px;
    font-size: x-large;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
    border-radius: 25px;
}

.payment {
    text-align: center;
    text-size-adjust: px;
}

.plant {
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none;
    color: inherit;
}

.payment_method {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

body {
    background: linear-gradient(-45deg, #d47676, #81c796, #9293d6, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }


}


button {
    margin: 20px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* 9 */
.btn-9 {
    border: none;
    transition: all 0.3s ease;
    overflow: hidden;
    width: 300px;
    height: 75px;

}

.btn-9:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1fd1f9;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
}

.btn-9:hover {
    background: transparent;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #fff;
}

.btn-9:hover:after {
    -webkit-transform: scale(2) rotate(180deg);
    transform: scale(2) rotate(180deg);
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}