main {
    width: 100%;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    align-content: flex-start;
}

body {
    background-color: #151926;
}


.container-product {
    width: 50%;
}

.buy-bar {
    background-color: rgb(192, 192, 192);
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 40px;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    justify-content: space-evenly;
}

.buy{
    gap: 12px;
    display: flex;
    flex-direction: column;
}


.product {
    background-color: #85846B;
    display: flex;
    flex-direction: row;
    color: white;
    width: auto;
    min-width: 450px;

    padding: 0px;
    align-items: center;
    margin: 20px;

}

.Photography {
    width: 150px;
    margin-left: 0px;
}


.product-info {
    display: flex;
    align-items: center;
    width: fit-content;
}

.text-info {
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-left: 20px;
    text-align: left;
}

.trash {
    width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: 24px;
}

.trash:hover {
    cursor: pointer;
}