body {
    background-color: #151926;
}




.container {
    gap: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.container_btn {
    text-align: center;
    color: rgb(160, 8, 160);
    background-color: #D9D9D9;
    padding: 15px 0 15px 0;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_main {
    display: flex;
    flex-direction: column;
}

.container_row {
    display: flex;
    flex-direction: row;
}

.card_tovar {
    background-color: #D9D9D9;
    width: 180px;
    height: auto;
    border-radius: 20px;
    align-items: center;
    display: flex;
    gap: 10px;
    cursor: pointer;
    flex-direction: column;
    color: rgb(160, 8, 160);
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    color: inherit;
    transition: background-color 0.3s;
}

.card_tovar:hover {
    background-color: crimson;
    transition: background-color 0.3s;
}

.name_tovar {
    margin: 0px;
    height: fit-content;
    color: rgb(160, 8, 160);

}

.price_tovar {
    margin: 0px;
    height: fit-content;
    color: rgb(160, 8, 160);

}

.img_tovar {
    width: 70px;
    height: 70px;
}

.gpers {
    text-decoration: none;
    /* color: inherit; */
    /* margin-bottom: 20px; */
    /* padding: 10px; */
    /* border-radius: 10px; */
}

.text_neon {
    text-align: center;
    height: fit-content;
    text-decoration: none;
    color: #fff;
    font-family: Vampiro One;
    animation: neon6 1.5s ease-in-out infinite alternate;

}

@keyframes neon6 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
            0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
            0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
    }
}