body {
    background: #151926;
}

.container_head {

    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-around;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.container_product {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 90px;
    height: 70px;
}

.cash {
    width: 90px;
    height: 70px;
}

.potato {
    width: 90px;
    height: 70px;
}

.container_payment {
    background-color: #D9D9D9;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-top: 25px;

}

.point {
    width: 150px;
    height: 150px;
}

.yourself {
    width: 150px;
    height: 150px;
}

.delivery {
    background-color: #D9D9D9;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    margin-top: 25px;
}

.text {
    font-size: 25px;
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D9D9D9;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    padding: 15px;
}

.kettle {
    width: 150px;
    height: 150px;

}

.total_product {
    width: fit-content;
}

.button {
    background-color: #FCE000;
    width: 25%;
    margin: 0 auto;
    text-align: center;
    margin-top: 25px;
}